<div class="providers-buttons flex-container">
  <div ng-if="style.social_networks.voucher">
    <label for="password"> {{ "login-page.enter-password" | translate }}</label>
    <input ng-model="session.voucher" class="text-center form-control" type="text" id="password" name="password">
    <button ng-click="authenticate('voucher')" class="btn btn-block form-login_color uv-btn-social" type="button">
      <i class="fa fa-key pull-right"></i>
      <i class="fa fa-key pull-left"></i>
      {{ "login-page.voucher" | translate }}
    </button>
  </div>
  <button class="btn btn_block btn_provider" ng-if="style.social_networks.instagram" ng-click="authenticate('instagram')" type="button">
    <i class="fa fa-share-alt pull-right"></i>
    <i class="fa fa-instagram pull-left"></i>
    {{ "login-page.instagram-button" | translate }}
  </button>
  <button class="btn btn_block btn_provider" ng-if="style.social_networks.google" ng-click="authenticate('google')" type="button">
    <i class="fa fa-share-alt pull-right"></i>
    <i class="fa fa-google pull-left"></i>
    {{ "login-page.google-button" | translate }}
  </button>
  <button class="btn btn_block btn_provider" ng-if="style.social_networks.vk" ng-click="authenticate('vk')" type="button">
    <i class="fa fa-share-alt pull-right"></i>
    <i class="fa fa-vk pull-left"></i>
    {{ "login-page.vk-button" | translate }}
  </button>
  <button class="btn btn_block btn_provider" ng-if="style.social_networks.facebook" ng-click="authenticate('facebook')" type="button">
    <i class="fa fa-share-alt pull-right"></i>
    <i class="fa fa-facebook pull-left"></i>
    {{ "login-page.facebook-button" | translate }}
  </button>
  <br>
  <button class="btn btn_block btn_provider" ng-if="style.social_networks.without" ng-click="authenticate('without')" type="button">
    <i class="fa fa-key pull-right"></i>
    <i class="fa fa-key pull-left"></i>
    {{ "login-page.without" | translate }}
  </button>
</div>
