<form class="js-validation-login form-horizontal push-30-t">
  <div class="form-group">
    <div class="col-xs-12">
      <div class="form-material form-material-primary">
        <h3 class="text-center">{{style.title}}</h3>
        <!-- <p ng-if="$ctrl.data.last_page_content === 'text'" class="text-center">{{$ctrl.promoText}}</p> -->
        <p class="text-center">{{style.promo_text}}</p>
        <poll poll="poll"></poll>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 text-center">
      <button class="btn form-login_color login-button" ng-click="$ctrl.goToInternet()">
        {{ "internet-page.login" | translate }}
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 text-center">
      <banner banner="session"></banner>
    </div>
  </div>
</form>
