<sidebar style="style"></sidebar>
<topbar session="session"></topbar>
<div id="main-container" class="row main-content-wrap">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <!-- Login Block -->
    <div class="uv-form form-login block block-themed animated fadeIn">
      <div class="block-header">
        <h3 class="text-center">
          {{ style.title }}
        </h3>
      </div>
      <div class="block-content block-content-full block-content-narrow">
        <!-- Login Title -->
        <div class="text-center">
          <!-- <img width="150" height="112" src="../images/logo_login.png"> -->
          <img width="150" height="112" src="{{ style.logo }}">
        </div>
        <!-- END Login Title -->
        <section ui-view></section>
        <!-- {{$ctrl.temp}} -->
      </div>
      <div class="block-content block-content-full" style="font-size: 0.5em">
        <p class="small pull-right">
          {{'access-by.provider' | translate}}
          <a href="https://gycwifi.com">{{'access-by.url' | translate}}</a>
        </p>
      </div>

      <!-- END Login Form -->

    </div>
    <!-- END Login Block -->
  </div>
</div>

</div>


<!-- END Login Content -->
