<div class="content overflow-hidden">
  <nav id="sidebar">
    <!-- Sidebar Scroll Container -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 1021px;">
      <div id="sidebar-scroll" style="overflow: hidden; width: auto; height: 1021px;">
        <!-- Sidebar Content -->
        <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
        <div class="sidebar-content">
          <!-- Side Header -->
          <div class="side-header side-content bg-white-op">
            <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
            <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                                  <i class="fa fa-times"></i>
                              </button>
            <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
          </div>
          <!-- END Side Header -->

          <!-- Side Content -->
          <div class="side-content side-content-full">
            <ul class="nav-main">
              <li ng-repeat="menu_item in style.login_menu_items">
                <a href="{{ menu_item.url ? menu_item.url : style.url }}"><span class="sidebar-mini-hide">{{ (lang == 'ru') ? menu_item.title_ru : menu_item.title_en }}</span></a>
              </li>
            </ul>
          </div>
          <!-- END Side Content -->
        </div>
        <!-- Sidebar Content -->
      </div>
      <div class="slimScrollBar" style="background: rgb(255, 255, 255); width: 5px; position: absolute; top: 0px; opacity: 0.35; display: none; border-radius: 7px; z-index: 99; right: 2px; height: 1021px;"></div>
      <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 1; z-index: 90; right: 2px;"></div>
    </div>
    <!-- END Sidebar Scroll Container -->
  </nav>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <!-- Login Block -->
      <div class="uv-form form-login block block-themed animated fadeIn">
        <div class="uv-form-title-wrap block-header form-login_color">
          <ul class="block-options">
            <li class="btn-group">
              <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button"><i class="fa fa-navicon"></i></button>
              <button data-toggle="dropdown" type="button" class="btn btn-link text-gray dropdown-toggle">
                <i class="fa fa-caret-down fa-caret-down_sidebar-lang"></i>
                <img src="/images/{{lang}}.png" alt="English lang" class="lang-flag"/>
              </button>
              <ul class="dropdown-menu dropdown-menu_sidebar dropdown-menu-right font-s13 sidebar-mini-hide">
                <li>
                  <a href="" ng-click="changeLang('ru')">
                    <i class="pull-right"><img src="/images/ru.png" alt="English lang" class="lang-flag lang-flag_small-drop"/></i>
                    <span class="font-w600">Русский</span>
                  </a>
                </li>
                <li>
                  <a href="" ng-click="changeLang('en')">
                    <i class="pull-right"><img src="/images/en.png" alt="English lang" class="lang-flag lang-flag_small-drop"/></i>
                    <span class="font-w600">English</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <h3 class="uv-form-title block-title">
            {{ 'login-page.title' | translate: {title: style.title} }}
          </h3>
        </div>

        <div class="block-content block-content-full block-content-narrow">

          <!-- Login Title -->
          <div class="text-center">
            <!-- <img width="150" height="112" src="../images/logo_login.png"> -->
            <img width="150" height="112" src="{{ style.logo }}">
          </div>
          <!-- END Login Title -->
          <section ui-view></section>
          <!-- {{$ctrl.temp}} -->
        </div>
        <div class="block-content block-content-full" style="font-size: 0.5em">
          <p class="small pull-right">
            {{'access-by.provider' | translate}}
            <a href="https://gycwifi.com">{{'access-by.url' | translate}}</a>
          </p>
        </div>

        <!-- END Login Form -->

      </div>
      <!-- END Login Block -->
    </div>
  </div>

</div>


<!-- END Login Content -->
