<form class="js-validation-login form-horizontal push-30-t" ng-submit="$ctrl.send()">

  <div class="form-group">
    <div class="col-xs-12">
      <div>
        {{ 'phone-page.law' | translate }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <label for="phone_number">
        {{ "phone-page.enter-phone-number" | translate }}
        <!-- Укажите свой номер телефона, чтобы авторизоваться другим способом: -->
      </label>
    </div>
    <div class="col-xs-12">
      <input ng-model="session.phone_number" class="form-control" type="tel" id="phone_number" name="phone_number" placeholder="+X XXX XXX XX XX">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <button class="btn form-login_color login-button" ng-style="customCSS.formPrimaryColor" type="submit">
        {{ "phone-page.send" | translate }}
      </button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 text-center">
      <banner session="session"></banner>
    </div>
  </div>

</form>
