<header class="content-mini content-mini-full form-login_color" id="header-navbar">
  <ul class="nav-header pull-left">
    <li class="hidden-md hidden-lg">
      <button class="btn btn-default" type="button" ng-click="$ctrl.toggleSideBar()">
        <i class="fa fa-navicon"></i>
      </button>
    </li>
  </ul>
  <ul class="nav-header pull-right">
    <li class="btn-group">
      <button data-toggle="dropdown" type="button" class="btn btn-link text-gray dropdown-toggle">
          <i class="fa fa-caret-down fa-caret-down_sidebar-lang"></i>
          <img src="/images/{{lang}}.png" alt="English lang" class="lang-flag"/>
        </button>
      <ul class="dropdown-menu dropdown-menu_sidebar dropdown-menu-right font-s13 sidebar-mini-hide">
        <li>
          <a href="" ng-click="changeLang('ru')">
              <i class="pull-right"><img src="/images/ru.png" alt="English lang" class="lang-flag lang-flag_small-drop"/></i>
              <span class="font-w600">Русский</span>
            </a>
        </li>
        <li>
          <a href="" ng-click="changeLang('en')">
              <i class="pull-right"><img src="/images/en.png" alt="English lang" class="lang-flag lang-flag_small-drop"/></i>
              <span class="font-w600">English</span>
            </a>
        </li>
      </ul>
    </li>
  </ul>
  <h3 class="block-title">
    {{ 'login-page.title' | translate }}
  </h3>
</header>
