@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

.form-control:focus.form-control_lite {
    box-shadow: none;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
}

.form-control_lite {
    border-radius: 4px;
    margin-bottom: 5px;
}

#main_view {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

#background {
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    left: -15px;
    top: -10px;
    filter: blur(4px);
    background-position-x: center;
    background-size: cover;
    z-index: -1;
}

.container_content {
    max-width: 330px;
}

.btn_lite {
    margin: 10px 0;
    background: transparent;
    border: 1px solid #eee;
    color: #eee;
}

.input_lite {
    background: transparent;
    border-bottom: 1px solid #eee;
    color: #eee;
    box-shadow: none;
}

.copyright-text {
    color: #eee;
}

.copyright-link {
    color: #eee;
    text-decoration: underline;
}

.voucher-auth {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.law-text {
    color: #eee;
    padding: 20px;
}

.block {
    margin-top: 20px;
}

.internet-title {
    text-transform: uppercase;
    font-size: 1.4em;
    color: #eee;
}

footer {
    bottom: 0;
}

poll {
    color: #eee;
    display: block;
}

.answer-option {
    margin: 5px 0;
}

.container-content-light {
    max-width: 450px;
    margin: 0 auto;
}

@media (min-width: 640px) {


}

.input_green {
    border-radius: 0;
    margin-bottom: 10px;
    background-color: transparent;
}

.btn_green {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(84,203,109,.7);
    border-radius: 0;
    font-size: 1.2em;
    color: #fff;
}