<form class="js-validation-login">

  <div>
    <div>
      <div>
        {{ 'phone-pending.authorize-by-call1' | translate: {phoneNumber: session.phone_number} }}
        <a href="tel:{{ 'phone-pending.authorize-by-call2' | translate }}">{{ 'phone-pending.authorize-by-call2' | translate }}</a> {{ 'phone-pending.authorize-by-call3' | translate }}
      </div>
    </div>
  </div>

  <div>
    <div>
      <a href="tel:{{'phone-pending.authorize-by-call2' | translate}}" ng-click="$ctrl.checkClientNumber()">
        {{ "phone-pending.make-a-call" | translate }}
      </a>
    </div>
    <div>
      <button ng-click="$ctrl.notMyNumber()">
        {{ "phone-pending.not-my-number" | translate }}
      </button>
    </div>
  </div>

  <div ng-if="style.sms_auth">
    <div>
      <div>
        <label for="sms_code">
        {{ "phone-pending.enter-sms-code" | translate }}
      </label>
      </div>
    </div>

    <div>
      <div>
        <div>
          <input ng-model="session.sms_code" class="text-center" type="tel" id="sms_code" name="sms_code" placeholder="_ _ _ _">
        </div>
      </div>

      <div>
        <div class="text-center">
          <button ng-click="$ctrl.checkClientNumber()">
            {{ "phone-pending.check-client-number" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

</form>
