<form class="js-validation-login flex flex_column">

  <div>
    <h3 class="text-center internet-title">{{style.title}}</h3>
    <!-- <p ng-if="$ctrl.data.last_page_content === 'text'" class="text-center">{{$ctrl.promoText}}</p> -->
    <p class="text-center">{{style.promoText}}</p>
  </div>

  <poll poll="poll" style="align-self: center"></poll>

  <div class="flex flex_column">
    <button ng-click="$ctrl.goToInternet()" class="btn btn_provider btn_on-internet">
      Перейти в интернет
    </button>
  </div>

</form>