<main id="main_view">

    <div id="background" style="background-image: linear-gradient(rgba(37, 40, 47, .2), rgba(37, 40, 47, 0.9)), url('{{mediaPath}}/bg.jpg');"></div>

    <section class="container container_content container-content-light"></section>

    <section class="container container_content container-content-light">
        <header>
            <div class="text-center">
                <img src="{{ style.logo }}" id="img-logo">
            </div>
        </header>
    </section>

    <section class="container-light container-light_non-mr">
        <section ui-view></section>
    </section>

</main>
