<form class="js-validation-login" ng-submit="$ctrl.send()">
  <div class="container-content-light">
    <div>
      <div>
        <label class="label label_lite" for="sms_code">
          {{ "sms-page.enter-sms-code" | translate }}:
        </label>
        <input class="input_green text-center form-control form-control_lite" ng-model="session.sms_code" type="tel" id="sms_code" name="sms_code" placeholder="_ _ _ _">
      </div>
    </div>
  </div>

  <div>
    <div>
      <button class="btn btn_green btn-block" type="submit">
        {{ "sms-page.send" | translate }}
      </button>
    </div>
  </div>
</form>
