<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div id="{{ $ctrl.adRequest.adDivId }}" style="padding: 0px"></div>
    <script>
      function callBackForSmaatoVideo(status) {
        if (status == "SUCCESS") {
          console.log("callBack is being called with status : " + status);
        } else if (status == "ERROR") {
          console.log("callBack is being called with status : " + status);
        }
      };
      SomaJS.loadAd($ctrl.adRequest, callBackForSmaatoVideo);
    </script>
  </div>
</div>
